#.onLoad <- function(libname = "asuR", pkgname = "asuR") require(methods)
#useDynLib(asuR)
export( "colVars",
        "norm.test",
        "mancontr", "mycontr" #back-comp. only
       ## ## --- inspection related
       ## # lm
       ## "ihp",
       ## "ilp",
       ## "irp",
       ## "prp",
       ## "ryp",
       ## # glm
       ## "dep", # deviance residuals vs. linear predictor
       ## "lep",
       ## "nrp", # half-normal plot
       ## "rfp",
       ## "rgp",
       ## "rpp"
        )# data is always exported
exportClasses()
exportMethods("inspect") # calls workhorse() which calls the functions asked for
